::before,
::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$fontDark: rgb(34, 34, 34);
$fontRed: rgb(238, 66, 14);
$bodyBackground: rgb(235, 235, 235);

body {
    font-family: 'Roboto', sans-serif;
    background-color: $bodyBackground;
    height: 100vh;
}

.logo {
    transform: translateY(-10px);

    img {
        width: 100px;
    }
}

nav {
    &.primary-navigation {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;

        padding: 20px 0 0 0;
        font-size: 18px;

        ul li {
            list-style: none;
            margin: 0 auto;
            /* border-left: 2px solid #3ca0e7; */
            display: inline-block;
            padding: 0 30px;
            position: relative;
            text-decoration: none;
            text-align: center;
        }

        li a {
            color: $fontDark;
        }

        li a:hover {
            color: $fontRed;
        }

        li:hover {
            cursor: pointer;
        }

        ul li ul {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            padding-left: 0;
            left: 0;
            display: none;
            background: $bodyBackground;
        }

        ul li:hover>ul,
        ul li ul:hover {
            visibility: visible;
            opacity: 1;
            display: block;
            min-width: 250px;
            text-align: left;
            padding-top: 20px;
            box-shadow: 0px 3px 5px -1px #ccc;
        }

        ul li ul li {
            clear: both;
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
            border-style: none;
        }

        ul li ul li a:hover {
            padding-left: 10px;
            border-left: 2px solid $fontRed;
            transition: all 0.3s ease;
        }
    }
}

a {

    text-decoration: none;

    &:hover {
        color: $fontRed;
    }

}

ul li ul li a {
    transition: all 0.5s ease;
}

/* ------------------------ HOME ------------------------ */

.homeTop {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    img {
        border-radius: 15px 0px 0px 15px;
    }
}

.homeTopText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: auto;

    a {
        border: 2px solid $fontDark;
        color: $fontDark;
        padding: .5rem;
        margin-top: 2rem;
        font-size: larger;
        font-weight: 900;
        width: 100px;
        text-align: center;
        border-radius: 5px;
    }

    a:hover {
        color: $fontRed;
        border: 2px solid $fontRed;
    }
}